@import "./variables.scss";
@import "./dropdown.scss";

input[type="text"] {
    text-align: right;
    height: 48px;
    background: transparent;
    border: none;
    outline: none;
    transition: all 0.3s ease-out;
}

input,
textarea,
[contenteditable] {
    caret-color: $primary;
}
